# Настройки PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mentorflow_db
POSTGRES_URL=jdbc:postgresql://db:5432/mentorflow_db

# Настройки Hibernate / Логирование БД (локально - true, на проде - false)
DB_SHOW_SQL=false
DB_FORMAT_SQL=false

# Настройки Freemarker (кэш шаблонов: false для разработки, true для прода)
FREEMARKER_CACHE=false

# Настройки Redis и кэша
REDIS_HOST=redis
REDIS_PORT=6379
CACHE_TTL_MINUTES=1m

# Профиль запуска (local — для разработки и тестов без поднятого Redis, пусто — для прода)
SPRING_PROFILES_ACTIVE=

# Токен для интеграции с GitHub API
GITHUB_TOKEN=github_pat_11BNQ...

# Настройки GitHub Client
GITHUB_CONNECT_TIMEOUT=10s
GITHUB_READ_TIMEOUT=10s
GITHUB_SYNC_INTERVAL=10m